body
{
   background : #FFFFD1;
   color : #884400;
   font-family : calibri;
}
legend
{
    font-size : 1.5em;
}

fieldset
{
   background : #EEEEC0;
   margin : 2em;
   padding : 1em;
}

div
{
   margin : 0.5em;
}

.divTexte
{
   width : 16em;
   float : left;
}

.divTexteCompl
{
   width : 30em;
}

#envoyer
{
   text-align : center;
}
